h1 {color: c0c0c0;
    font-family: sans-serif;
    }

p { /* Обычный абзац */
 text-align: justify; /* Выравнивание текста по ширине */
}

.head__img {
  background: url(img/head.jpg) repeat-x;
  height: 200pt;
  }
.head__img_txt_white_block {
  background-color: white;
  opacity: 0.9; /* Значение прозрачности */
  height: 200pt;
  z-index: 1;
}

.head__img_txt {
  text-align:justify;
  font-size: 36pt;
  font-family: DroidSerif; /* Имя шрифта */
  src: url(DroidSerif.ttf); /* Путь к файлу со шрифтом */
  margin: 10%;
  padding: 10%;
}

.head__img_btn {
  align: center;
  text-align: center;
  border: 0;
  background-color: red;
  }
