h1 {color: c0c0c0;
    font-family: sans-serif;
    }

p { /* Обычный абзац */
 text-align: justify; /* Выравнивание текста по ширине */
}

.head__img {
  background: url(img/head.jpg) repeat-x;
  height: 200pt;
  }
.head__img_txt_white_block {
  background-color: white;
  opacity: 0.9; /* Значение прозрачности */
  height: 200pt;
  z-index: 1; /* заливка поверх фона */
}

.head__img_txt {
  text-align:justify;
  font-size: 36pt;
  font-family: DroidSerif; /* Имя шрифта */
  src: url(DroidSerif.ttf); /* Путь к файлу со шрифтом */
  margin: 10%; /* Значение отступов */
  padding: 10%; /* Поля вокруг текста */
}

.head__img_btn {
  align: center;
  text-align: center;
  font-size: 25pt;
  font-family: DroidSerif; /* Имя шрифта */
  src: url(DroidSerif.ttf); /* Путь к файлу со шрифтом */
  width: 300px; /* Ширина слоя */
  margin: 2em; /* Значение отступов */
  padding: 10px; /* Поля вокруг текста */
  border: 1px solid black; /* Параметры границы */
  }

.head__img_link {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  display: block; /* Ссылка как блочный элемент */
  color: darkred; /* Цвет обычной ссылки */
  height: 100%;
  width: 100%;
}
.head__img_link:hover {
    color: #FF0000; /* Цвет ссылки при наведении на нее курсора мыши */
  }
